header {
    background-color: var(--header-bg-color);
    background-image: url('/images/dark-section-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    color: var(--header-text-color);
    border-radius: 1.25rem;
    margin: 1rem;
    min-height: 100px;
    display: flex;
    align-items: center;
}

.header-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-menu {
    justify-content: center;
}

.account-menu {
    justify-content: flex-end;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu-item-link {
    color: var(--menu-item-link-text-color);
    text-decoration: none;
    font-weight: 600;
    white-space: nowrap;
    transition: color 0.15s ease-in-out;

    &:hover {
        color: var(--primary-color);
    }
}

@media (max-width: 1200px) {

    .header-section {
        grid-template-columns: auto 1fr;
    }

    .main-menu {
        display: none;
    }
}
