﻿@{

}

<div class="page_customer-service">
    <partial name="Partials/Globals/_PageTitleSection" />
    
    <div class="container">
        <partial name="Sections/_ContactFormSection" />
    </div>

</div>

@section Scripts {
    <partial name="~/Views/Shared/Partials/Globals/_ValidationScripts.cshtml" />
}