@{
    ViewData["Title"] = "Customer Service";
}

<section class="page-header">
    <div class="container">
        <partial name="Partials/Globals/_PageTitleSection" />
    </div>
</section>

<div class="page_customer-service">
    <div class="customer-service-layout container">
        <partial name="Partials/_ContactFormSection" />
        @await Component.InvokeAsync("Faq")
    </div>
</div>

@section Scripts {
    <partial name="Partials/Globals/_ValidationScripts" />
    <script src="~/js/faqAccordion.js" asp-append-version="true"></script>
    <script src="~/js/checkboxValidation.js" asp-append-version="true"></script>
}