@{
    ViewData["Title"] = "Menu Options";
}
<section>
    <div class="account-container">
        <div class="account-image">
            <img src="/images/account-image.png" alt="Profile" />
        </div>

        <div class="account-menu-content">
            <h3>Menu Options</h3>
        </div>
    </div>
</section>