.my-account-section {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        "title title"
        "aside aboutme"
        "aside stat";
}

.pagetitle-section {
    grid-area: title;
    display: flex;
    justify-content: center;
}

aside {
    grid-area: aside;
    display: grid;
    gap: 2rem;
}
