.about-me-page {

    .header-section {
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 3rem;
        align-items: center;
    }

    .main-menu {
        display: flex;
        justify-content: flex-start;
        flex: none;
    }

    .account-menu {
        display: flex;
        justify-content: flex-end;
        flex: none;
    }

    .account-layout {
        display: grid;
        grid-template-columns: 300px 1fr;
        gap: 4rem;
        margin-top: 2rem;
        align-items: start;
    }

    .account-sidebar {
        position: sticky;
        top: 2rem;
    }

    .account-main {
        width: 100%;
    }

    button {
        display: block;
        width: 100%;
        text-decoration: none;
        background: none;
        font-weight: 500;

        &:hover {
            color: var(--primary-color)
        }

        &.active {
            color: #007bff;
            /*            Färg för aktiv länk font-weight: 700;*/
        }

        @media (max-width: 991px) {
            .account-layout {
                grid-template-columns: 1fr;
                gap: 2rem;
            }

            .account-sidebar {
                position: static;
            }
        }
    }
}
