.contact-container {
    display: grid;
    grid-template-columns: 48% 1fr;
    gap: 0;
    align-items: stretch;
    overflow: hidden;
}

.contact-image {
    width: 100%;
}

    .contact-image img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: contain;
    }

#contact-form {
    border: none;
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0 1rem 1rem 0;

    h3 {
        margin-top: 0;
        font-weight: 600;
    }

    p {
        color: var(--section-text-color);
    }

    .form-textarea {
        resize: vertical;
        min-height: 7rem;
        max-height: 30rem;
    }

    .form-grid-fields {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }

    .btn {
        align-self: flex-end;
        width: auto;
    }
}

    @media (max-width: 1200px) {
        .contact-container {
            grid-template-columns: 1fr;
            align-items: stretch;
        }

        .contact-image {
            display: none;
        }

        #contact-form {
            padding: 2rem;
            border-radius: 1rem;

            .form-grid-fields {
                grid-template-columns: 1fr;
            }

            .btn {
                align-self: stretch;
                width: 100%;
            }
        }
    }
