.contact-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0;
    align-items: stretch;
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid var(--form-border-color);
    margin-top: 2rem;
}

.contact-image {
    height: 100%;
}

    .contact-image img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: block;
    }

#contact-form {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border: none;
    margin: 0;

    h3, h2 {
        margin-top: 0;
    }

    .form-textarea {
        resize: vertical;
        min-height: 4rem;
        max-height: 30rem;
        width: 100%;
    }

    .form-grid-fields {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .btn {
        align-self: flex-end;
        width: auto;
    }
}

@media (max-width: 1200px) {
    .contact-container {
        grid-template-columns: 1fr;
    }

    .contact-image {
        display: none;
    }

    #contact-form {
        padding: 2rem;

        .form-grid-fields {
            grid-template-columns: 1fr;
        }
        .btn {
            align-self: stretch;
            width: 100%;
        }
    }
}
