button, .btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 1rem 3rem 1rem 1.5rem;
    border-radius: 25px;
    border: 1px solid var(--button-bg-color);
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    transition: all 0.15s ease-in-out;

    &::after {
        content: "\f054";
        font-family: var(--font-fa);
        font-weight: 900;
        font-size: 1.1rem;
        position: absolute;
        transition: transform 0.2s ease-in-out;
        right: 1.5rem;
    }
}

    button:hover, .btn:hover {
        background-color: var(--button-bg-hover-color);
        border-color: var(--button-bg-hover-color);
        color: var(--button-text-hover-color);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        transform: translateY(-1px);

        &::after {
            transform: translateX(0.4rem);
        }
    }

@media (max-width: 991px) {
    button,  .btn {
        width: 100%;
    }
}