.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;

    > a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
        transition: color 0.15s ease-in-out;
        padding: 0.5rem 0;

        &::after {
            content: "\f078";
            font-family: var(--font-fa);
            font-weight: 900;
            margin-left: 0.5rem;
            font-size: 0.8rem;
            display: inline-block;
            transition: transform 0.2s ease-in-out, color 0.15s ease-in-out;
        }
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        min-width: 200px;
        list-style: none;
        padding-top: 0.5rem;
        background-color: transparent;
        background-color: var(--menu-item-button-bg-color);
        background-clip: padding-box;
        border-radius: 15px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        padding: 1rem;

        li a {
            color: var(--dark-color);
            text-decoration: none;
            font-weight: 600;
            padding: 0.5rem 0;
            display: block;
            font-size: 0.9rem;
            transition: color 0.15s ease-in-out;

            &:hover {
                color: var(--gray-color);
                text-decoration: none;
            }
        }
    }

    &:hover {
        > a {
            color: var(--primary-color);

            &::after {
                transform: rotate(180deg);
                color: var(--primary-color);
            }
        }

        .dropdown-menu {
            display: block;
        }
    }
}
