form {
    border: 1px solid var(--color-gray-extra-light);
    background-color: var(--form-bg-color);
    color: var(--text-color);
    padding: 4rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-group {
    display: grid;
    gap: 0.1rem;
}

.form-label {
    font-size: 0.9em;
    font-weight: 600;
    color: var(--heading-color);
}

.form-input, .form-textarea {
    width: 100%;
    padding: 1rem;
    border-radius: 0.625rem;
    font-size: 1em;
    font-family: var(--font-default);
    outline: none;
    border: 1px solid var(--form-input-border-color);
    background-color: var(--form-input-bg-color);
    color: var(--form-input-text-color);
    transition: border-color 0.15s ease-in-out;

    &::placeholder {
        color: var(--form-input-placeholder-color);
    }

    &:focus {
        border-color: var(--form-input-focus-border-color);
    }
}

.field-validation,
.field-validation-valid,
.field-validation-error {
    display: block;
    color: var(--form-validation-error-text-color);
    font-size: 0.8em;
    line-height: 1.2em;
    min-height: 1.2em;
    visibility: visible;
}