form {
    border: 1px solid var(--form-border-color);
    background-color: var(--form-bg-color);
    color: var(--form-text-color);
    padding: 2rem;
    border-radius: 1rem;

    .form-group {
        display: grid;
        gap: 0.5rem;
        margin-bottom: 1rem;
    }

    .form-label {
        font-size: 0.9em;
        font-weight: 600;
        font-family: var(--font-heading);
    }

    .form-input, .form-textarea {
        width: 100%;
        padding: 1rem;
        border-radius: 0.625rem;
        font-size: 1em;
        font-family: var(--font-default);
        outline: none;
        border: 1px solid var(--form-input-border-color);
        background-color: var(--form-input-bg-color);
        color: var(--form-input-text-color);
        transition: border-color 0.15s ease-in-out;

        &::placeholder {
            color: var(--form-input-placeholder-color);
        }

        &:focus {
            border-color: var(--form-input-focus-border-color);
        }
    }

    /* Validation */
    .input-validation-error {
        border-color: var(--form-validation-error-text-color);
    }

    .field-validation-error {
        color: var(--form-validation-error-text-color);
        font-size: 0.8em;
    }
}
