@{
    ViewData["Title"] = "My Account";
}
<div class="page_account">
    <partial name="Partials/Globals/_PageTitleSection" />

    <div class="container account-layout">
        <aside class="account-sidebar">
            <div class="profile-card">
                @* <partial name="Sections/image" />
                <partial name="Sections/menu" /> *@
            </div>
        </aside>

        <main class="account-main">
            <partial name="Sections/_AboutMeFormSection" />
        </main>

    </div>
</div>