@{
    ViewData["Title"] = "My Account";
}

<div class="container">
    <section class="my-account-section">

        <partial name="Partials/Globals/_PageTitleSection" />

        <aside class="sidebar">
            <partial name="Partials/Sections/Account/_ProfilePictureSection" />
            <partial name="Partials/Sections/Account/_MenuOptionsSection" />
        </aside>

        <partial name="Partials/Sections/Account/_AboutMeSection" />
        <partial name="Partials/Sections/Account/_MyStatisticsSection" />

    </section>
</div>