@model SignInFormViewModel

@{
    Layout = "Layouts/_AuthLayout";
    ViewData["Title"] = "Sign In";
}

 <section>
    <div class= "signin-container">
        <form class="signin-form" method="post" asp-action="SignIn" asp-controller="Authentication" asp-route-returnUrl="@ViewData["ReturnUrl"]" novalidate>
            @Html.AntiForgeryToken()
            <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />

            <div data-id="title" class="title">
                <h2>Welcome Back!</h2>
                <p>Log in to continue your fitness journey with full access to your customized program, training history, and progress tracking. Stay consistent, monitor your development, and keep moving forward with the structure and support built into your account.</p>
                <hr />
            </div>

            <div class="social-icons">
                <a asp-action="GitHubLogin" asp-controller="Authentication" asp-route-returnUrl="@ViewData["ReturnUrl"]" class="social-icon-link github" title="Sign up with GitHub">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12" />
                    </svg>
                </a>
            </div>

            <div class="social-divider">
                <span>Or continue with</span>
            </div>

            <div class="form-grid-fields">
                <div data-id="email" class="form-group">
                    <label class="form-label" asp-for="Email"></label>
                    <input class="form-input" asp-for="Email" />
                    <span class="field-validation" asp-validation-for="Email"></span>
                </div>

                <div data-id="password" class="form-group">
                    <label class="form-label" asp-for="Password"></label>
                    <input class="form-input" type="password" asp-for="Password" />
                    <span class="field-validation" asp-validation-for="Password"></span>
                </div>
            </div>

            <div data-id="RememberMe" class="form-group">
                <div class="checkbox-group">
                    <input class="form-checkbox-input" asp-for="RememberMe" id="RememberMe" />
                    <label class="checkbox-checkmark" for="RememberMe"></label>
                    <label class="form-label" asp-for="RememberMe" for="RememberMe"></label>
                </div>
            </div>

            <button class="btn" type="submit">Continue</button>

            <div class="form-errormessage">
                <div asp-validation-summary="ModelOnly" class="field-validation-error"></div>
                <span class="field-validation-error" asp-validation-for="ErrorMessage"></span>
            </div>
        </form>
    </div>
 </section>

@section Scripts {
    <partial name="~/Views/Shared/Partials/Globals/_ValidationScripts.cshtml" />
}